.left {
    font-size: 38px;
}
.left img {
    width: 2%;
    height: 2%;
}

.left a {
    text-decoration: none;
    color: #0004eb;
}

.left a:hover {
    color: #001636;
}

.left a:active {
    color: red;
}

body {
    padding: 0%;
    margin: 0%;
}

.heading {
    padding: 0% 2% 5% 2%;
    margin: 0%;
}

.detail {
    margin: 0%;
}

.detail a {
    color: #0004eb;
    text-decoration: none;
}

.detail a:hover {
    color: #001636;
}

.detail a:active {
    color: red;
}

.edu_qua li{
    padding: 0% 0% 0% 0%;
}

.sep {
    padding: 0% 0% 0% 0%;
}

.profile {
    font-size: 78px;
    font-weight:var(heading);
}

h2 {
    font-size: 130%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 10px;
}

.horizon_line {
    background-color:#000000;
    height:10px;
    width:100%;
}

/* .sub_horizon_line {
    background-color:#000000;
    height:5px;
    width:100%;
} */

.date {
    float: right;
    /* font-size: 115%; */
}

/* .print {
    float: right;
} */

.border {
    padding: 4% 0%;
    margin: auto;
}

.sub_heading {
    padding-top: 2%;
    margin: 0%;
}

.h-primary {
    padding: 1% 0% 0% 0%;
    font-size: 38px;
    color: #0066ff;
}

.sep{
    font-size: 38px;
}

/* -------------------------------------------BarCodes ------------------------------------------- */

.right {
    float: right;
    font-size: 38px;
    margin: 0px 45px 0px 0px;
}

.right a {
    text-decoration: none;
    color: #0004ff;
}

.right a:hover {
    color: #0f428d;
}

.right a:active {
    color: red;
}

.barcode{
    display: flex;
    flex-direction: row;
}

.barcode li{
    list-style: none;
}

.barcode img{
    /* float: right; */
    width: 190px;
    height: 198px;
    margin: 10px;
    padding: 10px;
}

.barcode_name{
    display: flex;
    flex-direction: row;
}

.barcode_name li{
    list-style: none;
    margin: 0px 23px 0px 23px;
}
/* -------------------------------------------BarCodes ------------------------------------------- */
