.left {
    font-size: 32px;
}
.left img {
    width: 2%;
    height: 2%;
}

.left a {
    text-decoration: none;
    color: #0d6efd;
}

.left a:hover {
    color: #002d70;
}

.left a:active {
    color: red;
}
.right{
    float: right;
}
body {
    padding: 0%;
    margin: 0%;
}

.heading {
    padding: 2%;
    margin: 0%;
}

.detail {
    margin: 0%;
}

.detail a {
    color: #0d6efd;
    text-decoration: none;
}

.detail a:active {
    color: rgb(228, 6, 6);
}

.edu_qua li{
    padding: 0% 0% 0% 0%;
}

.sep {
    padding: 1% 0% 0% 0%;
}

.profile {
    font-size: 56px;
    font-weight:var(heading);
}

h2 {
    font-size: 125%;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 10px;
}

.horizon_line {
    background-color:#000000;
    height:10px;
    width:100%;
}

.date {
    float: right;
    /* font-size: 115%; */
}

.print {
    float: right;
}

.border {
    padding: 125px 60px;
    margin: auto;
}

.sub_heading {
    padding-top: 2%;
    margin: 0%;
}

.h-primary {
    padding: 1% 0% 1% 0%;
    font-size: 32px;
}

.sep{
    font-size: 32px;
}
