
/* For testing */
/* .container{
    border: 1px solid rgb(48, 248, 30);
} */
/* .content{
    border: 1px solid rgb(255, 2, 2);
} */
/* .header{
    border: 1px solid rgb(49, 30, 220);
} */
/* .h-ch{
    border: 1px solid rgb(73, 77, 31);
} */
/* .section{
    border: 2px solid rgb(49, 30, 220);
} */
/* .s-ch{
    border: 1px solid rgb(255, 57, 18);
} */
/* .sub-sec{
    border: 1px solid rgb(253, 164, 11);
} */

/* For Action */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* font-family: 'Arial, Cambria, Garamond, and Times New Roman'; */
    font-family: 'Cambria';
}

a{
    text-decoration: none;
    color: #2471ff;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content{
    width: 100em;
    margin: 4% 3% 2% 3%;
}

/* HEADER */
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.h-ch{
    margin: 1% 1%;
}

/* LEFT */
.name{
    font-size: 220%;
}

.h-left img{
    width: 0.8em;
    height: 0.7em;
}

.h-left{
    margin-top: 1%;
}

.phone{
    margin-top: 2%;
    font-size: 90%;
}

.gmail{
    font-size: 90%;
}

.gmail strong{
    color: black;
}

/* RIGHT */
.bar img{
    width: 5em;
    height: 5em;
}

.bar_name{
    text-align: center;
}

.bar_name strong{
    text-decoration: none;
    margin: 0 5%;
    font-size: 90%;
}

/* BORDER */
.border{
    height: 0.5em;
    margin: 3% 0;
    background: #000;
}

/* SECTION */

.section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.s-left{
    /* margin: 0 1%; */
    margin: 0% 4% 0% 0%;
}

.s-right{
    /* margin: 0 1%; */
    margin: 0% 0% 0% 4%;
}

.sub-sec{
    margin: 1% 0% 2% 0%;
}

.sub-sec-head{
    color: rgb(37, 139, 255);
    font-size: 105%;
    font-weight: bold;
}

.sub-sec-para{
    font-size: 90%;
    margin-left: 3%;
    margin-top: 1%;
}

.sub-sec-para-li{
    margin-bottom: 1%;
    /* text-align: justify; */
}

.s-r-ssp{
    margin-left: 5%;
}

.s-l-ssp{
    margin-left: 5%;
}

/* .sub-sep{
    margin-left: 2%;
} */

.date{
    float: right;
    margin-left: 5px;
}
